*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

background:#faf7f0;
color:#3c3328;
font-family:'Cairo',sans-serif;

overflow-x:hidden;

}



.cover{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

position:relative;

background:
radial-gradient(circle at top,#fff,#f4ead6);

overflow:hidden;

}



.gold-circle{

position:absolute;

width:500px;
height:500px;

border:1px solid rgba(190,150,60,.25);

border-radius:50%;

animation:floatCircle 12s infinite alternate;

}



@keyframes floatCircle{

from{
transform:scale(1);
}

to{
transform:scale(1.2);
}

}





.invite-card{

width:90%;
max-width:620px;

background:rgba(255,255,255,.85);

backdrop-filter:blur(10px);

padding:60px 35px;

text-align:center;

border:1px solid #d4af37;

box-shadow:
0 30px 80px rgba(0,0,0,.12);

animation:cardIn 1.5s ease;

}



@keyframes cardIn{

from{

opacity:0;
transform:translateY(60px);

}

to{

opacity:1;
transform:translateY(0);

}

}





.top-ornament{

font-size:55px;

color:#c9a044;

margin-bottom:20px;

}



.invite-card h2{

font-family:'Amiri';

font-size:40px;

color:#ad8230;

}



.verse{

font-family:'Amiri';

font-size:22px;

line-height:2.4;

margin:30px 0;

}



.invite-card span{

color:#ad8230;

}



button{

margin-top:35px;

padding:16px 55px;

border-radius:50px;

background:transparent;

border:1px solid #c9a044;

color:#ad8230;

font-size:18px;

cursor:pointer;

transition:.4s;

}



button:hover{

background:#c9a044;

color:white;

}




#wedding{

display:none;

}




.hero{

height:100vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

padding:30px;

}



.gold-line{

width:130px;

height:1px;

background:#c9a044;

margin:25px;

}



.hero>p{

font-family:'Amiri';

font-size:45px;

color:#ad8230;

}



.hero h1{

font-family:'Amiri';

font-size:70px;

font-weight:700;

line-height:1.6;

}



.amp{

font-size:50px;

color:#c9a044;

font-family:'Amiri';

}



.description{

max-width:650px;

font-size:20px;

color:#777;

line-height:2;

}



.cards{

display:flex;

justify-content:center;

gap:35px;

flex-wrap:wrap;

padding:60px 20px;

}



.lux-card{

width:350px;

background:white;

padding:45px 30px;

text-align:center;

border:1px solid rgba(201,160,68,.5);

box-shadow:
0 20px 50px rgba(0,0,0,.08);

}



.icon{

font-size:40px;

color:#c9a044;

}



.lux-card h3{

font-family:'Amiri';

font-size:35px;

color:#ad8230;

margin:20px;

}



.lux-card p{

line-height:2;

}



.lux-card a{

color:#ad8230;

}



.counter{

text-align:center;

padding:80px 20px;

}



.counter h2{

font-family:'Amiri';

font-size:45px;

color:#ad8230;

}



.timer{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:40px;

}



.timer div{

background:white;

border:1px solid #c9a044;

padding:25px;

min-width:120px;

}



.timer strong{

display:block;

font-size:45px;

color:#ad8230;

}



.music-button{

text-align:center;

padding:30px;

}



footer{

text-align:center;

padding:60px;

font-family:'Amiri';

font-size:28px;

color:#ad8230;

}



.reveal{

animation:fadeUp 1.2s ease;

}



@keyframes fadeUp{

from{

opacity:0;
transform:translateY(40px);

}

to{

opacity:1;
transform:translateY(0);

}

}





@media(max-width:600px){


.hero h1{

font-size:42px;

}


.hero>p{

font-size:35px;

}


.verse{

font-size:18px;

}


.timer div{

min-width:90px;

}


.timer strong{

font-size:32px;

}


}
